/* S T Y L E S   R E S E T E R*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* S T Y L E S   F O R   P R O J E C T*/

/* Fonts */
.poly-regular {
  font-family: "Poly", serif;
  font-weight: 400;
  font-style: normal;
}

.poly-regular-italic {
  font-family: "Poly", serif;
  font-weight: 400;
  font-style: italic;
}

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

/* Body */
body {
  background: linear-gradient(to bottom, #d6affe 0%, #9f7ad8 55%, #442256 100%);
  font-family: "Poly", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  height: 100vh;
  height: 100dvh;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* App */
.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}

#user-interface {
  border-radius: 20px;
  max-width: 1287px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min(751px, calc(100vh - 40px));
  overflow: auto;
  position: relative;
}

#user-interface::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

#user-interface::-webkit-scrollbar-thumb {
  background: #97b4fc;
  border-radius: 5px;
  border: 3px solid white;
}

.header {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 110px;
  height: auto;
  cursor: pointer;
}

.search-input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  max-width: 80%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 5px 20px;
}

.search-input:focus {
  padding: 5px 20px;
  border: 2px solid #c0cdfd;
}

.search-input::placeholder {
  color: #b8b8b8;
}

.menu-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.menu-link.active {
  background: linear-gradient(to bottom, #9563c7 0%, #9f7ad8 55%, #442256 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.menu-link:not(.active):hover {
  color: rgba(0, 0, 0, 0.6);
}

/* home */
.home-box,
.about-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-image-container,
.home-content-container,
.about-image-container,
.about-content-container {
  flex: 1;
}

.home-image-container,
.about-image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image-container > img,
.about-image-container > img {
  height: auto;
  display: block;
}

.home-image-container > img {
  width: 490px;
}

.home-content-container,
.about-content-container {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* specific gap values for each container */
.home-content-container {
  gap: 100px;
}

.about-content-container {
  gap: 20px;
}

.home-text,
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.about-title,
.home-text > h1 {
  background: linear-gradient(to bottom, #9563c7 0%, #9f7ad8 55%, #442256 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.home-text > h2 {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  background: linear-gradient(to bottom, #9563c7 0%, #9f7ad8 55%, #442256 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 46px;
  margin: 0 0 6px;
}

.home-text > span,
.about-text > span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  font-weight: normal;
}

.home-box button,
.start-learning-button {
  background: linear-gradient(to bottom, #d6affe 0%, #9f7ad8 55%, #442256 100%);
  border-radius: 30px;
  width: 192px;
  height: 75px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 26px;
  font-family: inherit;
  font-weight: inherit;
  color: white;
  align-self: center;
}

.main-content {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  --path: #9f7ad8;
  --dot: #442256;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}

.main-content > h2 {
  font-family: "Unna", serif;
  font-weight: 700;
  color: #6586f8;
  font-size: 46px;
  margin: 0 0 30px;
}

.word-container {
  /* display: flex;
  width: 100%;
  margin: 0 auto;
   */
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  width: 100%;
}

.right-wrapper h3 {
  font-family: "Unna", serif;
  font-weight: 700;
  font-size: 28px;
  color: #313340;
}

.pronunciation-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pronunciation-wrapper > p {
  margin: 0;
}

.word-meaning-container {
  background-color: #b1c2fe;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: left;
}

.word-img {
  width: 100%;
  max-height: 60vh;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.hidden-audio {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
}

.speaker-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.speaker-icon img {
  width: 24px;
  height: 24px;
  display: block;
}

.speaker-icon:hover img {
  filter: brightness(1.2);
}

.examples-list {
  /* height: 0; */
  /* opacity: 0; */
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: start;
  transition: all 0.2s ease;
  /* overflow-y: hidden; */
}

.next-word-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#next-word-btn {
  background-color: #4e7df4;
  border-radius: 60px;
  padding: 20px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: inherit;
  font-weight: inherit;
  color: white;
  align-self: right;
}

@media all and (max-width: 900px) {
  .word-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .word-img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
  }

  #user-interface::-webkit-scrollbar {
    width: 0;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
  }

  .search-input {
    position: static;
    width: 100%;
    max-width: 100%;
    transform: none;
    order: 4;
    height: 40px;
  }
}

@media all and (max-width: 400px) {
  .header {
    justify-content: center;
  }
}

/* about  */
.about-image-container > img {
  width: 380px;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.about-description-item {
  font-weight: normal;
  font-size: 22px;
  color: #606061;
  text-align: left;
  margin: 0;
  text-indent: 1.5em;
}
